*{
    padding:0;
    margin:0;

}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color:white;
    width:80%;
    margin:auto;
    position:stickey;
    margin-top: 1rem;
    top:20px;
    padding:0.2rem 2rem;
    border-radius: 20px;
}

ul{
    display:flex;
    gap:2rem;
    list-style:none;
}

.icon{
    display:none;
}

.show{
    height: 100%;
}

main{
    display:flex;
    width:80%;
    margin:20px auto;
    gap:2rem;
}


.title-section{
    width:70%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.title-section h1{
    font-size: 2.8rem;

}

.image-section{
    width:80%;

}

.title-section button{
    padding:0.8rem;
    border-radius: 20px;
    border: none;
    background-color: teal;
    color:white;

}

.cards{
    display: flex;
    width:80%;
    margin:auto;
    gap:2rem;

}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:1px solid gray;
    padding:1rem;
}

.card img{
    margin:auto;
}

@media only screen and (max-width:600px){
    nav{
        flex-direction: column;
        position: relative;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .nav-items{
        width: 100%;
    }
    ul{
        flex-direction:column ;
        width: 100%;
        /* display: none; */
        height: 0;
        overflow: hidden;
        
    }
    li{
        width: 100%;
    }

    .button{
        height: 0;
        overflow: hidden ;
    }

    .icon{
        display: block;
        font-size: 1.7rem;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
    }

    main{
        flex-direction: column;
    }
    .title-section{
        width: 100%;
    }
    .image-section{
        width: 100%;
    }
}



@media only screen and (max-width:600px){
    nav{
        background:radial-gradient(green,orange,red);
        width: 60%;
        flex-direction: column;
    }
}


@media only screen and (max-width:900px){
    main{
        background:radial-gradient(hotpink,orange,yellow);
        width: 60%;
        flex-direction: column;
    }
}


@media only screen and (max-width:900px){
    .card{
        background:radial-gradient(red,orange,yellow);
        width: 60%;
        flex-direction: column;
    }
}





